@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

body {
    background-image: url('/public/img/forest.jpg');
}

#content {
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    background-color: rgba(25, 25, 25, 0.8);
}

#result {
    color: white;
}

.btn {
    font-size: 32px;
    font-family: 'Creepster', cursive;
    color: white;
}

.lifepoints {
    color: white;
}